.App .weather-app {
  background-color: #fff;
  border: 1px solid rgba(57, 93, 130, 0.6);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(101, 155, 209, 0.7);
  max-width: 600px;
  margin: 100px auto;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/086/865/original/bluesky.jpeg?1687600478");
  background-size: contain;
}

.App .overview {
  margin: 15px 0;
}

.App h1 {
  font-family: "Roboto", sans-serif;
}

.App h3 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize;
}

.App p {
  list-style: none;
  padding: 0;
  color: #727272;
  font-size: 18px;
  font-family: "Playfair", serif;
}

.App small {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.App .overview ul {
  list-style: none;
  padding: 0;
  color: #727272;
  font-size: 18px;
  font-family: "Playfair", serif;
}

.App .overview {
  padding-top: 8px;
}

.App img {
  margin-right: 5px;
  width: 90px;
  height: 90px;
}

.App strong {
  font-size: 45px;
  font-weight: 400;
  line-height: 2;
}

.App .units {
  position: relative;
  font-size: 16px;
  top: -22px;
}
